<<<<<<< HEAD
%avatar {
  display: block;
  overflow: hidden;
  background-image: url(./assets/images/img-user-default.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
=======
%avatar-base {
  display: block;
  overflow: hidden;
>>>>>>> eaaf4705040fa720442dcff0ab0f10d52d7a74d1
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

<<<<<<< HEAD
.avatar-32 {
  @extend %avatar;
  width: 32px;
  height: 32px;
}

.avatar-24 {
  @extend %avatar;
  width: 24px;
  height: 24px;
}
=======
.avatar-24 {
  @extend %avatar-base;
  width: 24px;
  height: 24px;
}

.avatar-32 {
  @extend %avatar-base;
  width: 32px;
  height: 32px;
}
>>>>>>> eaaf4705040fa720442dcff0ab0f10d52d7a74d1
