* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
  /* 24 / 16 = 1.5 */
  color: #2b292d;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
}

.title {
  padding-top: 154px;
  padding-bottom: 24px;
}
/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Recet CSS */
  p {
    font-size: 22px;
    line-height: 1.36363636;
  }

  h1 {
    font-size: 70px;
    line-height: 1.028571428571429;
  }
  .title {
    padding-top: 120px;
    padding-bottom: 32px;
  }
  .service-button-group {
    margin-top: 32px;
  }
  .service-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555;
  }
}

/* Custom Grid System -Fix container with */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

.section1 {
  background-color: #fdded8;
}
.section1-des {
  text-align: center;
}
.service-button-group {
  padding-top: 24px;
  padding-bottom: 154px;
  text-align: center;
}
.service-button {
  width: 140px;
  height: 48px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.apply {
  background-color: #3040c4;
  color: #fff;
}
.learn {
  background-color: #fff;
  color: #3040c4;
}
h2 {
  font-size: 22px;
  line-height: 1.363636363636364;
  letter-spacing: -0.04em;
  font-weight: bold;
}

.section2 {
  background-color: #f4f5f7;
  padding-top: 80px;
  padding-bottom: 40px;
}

.sub-title {
  padding-bottom: 16px;
  padding-left: 0;
}

.sub-des {
  padding-bottom: 40px;
}

/* section3 */
@media screen and (min-width: 768px) {
  .section3 {
    padding-bottom: 96px;
  }
  .section3-title {
    text-align: center;
  }
  .section3-des {
    text-align: center;
    margin-bottom: 72px;
  }
  .campus {
    background-color: #3141c5;
  }
  .campus > p {
    color: #fff;
  }
}
.section3 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.program {
  color: #009b4d;
  font-weight: bold;
  text-align: center;
}
.section3-title,
.section4-title {
  font-size: 34px;
  line-height: 1.058823529411765;
  font-weight: bold;
}
.section3-des {
  padding-top: 24px;
  padding-bottom: 12px;
}
.section3-img {
  text-align: center;
  width: 290px;
  height: 291px;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: 10px 10px 50px -40px rgba(0, 0, 0, 0.5);
}
.section3-img > p {
  font-size: 18px;
  line-height: 1.33333333;
  letter-spacing: -0.02em;
  font-weight: bold;
}
.full-time {
  width: 142.21px;
  height: 195px;
}

/* section4 */
.section4 {
  padding-bottom: 80px;
}
.curriculum {
  color: #0189d1;
  font-weight: bold;
  padding-bottom: 8px;
}
.section4-des {
  padding-top: 24px;
  padding-bottom: 32px;
}
.section4-des2 {
  padding-bottom: 40px;
}

.curriculum-img > img {
  width: 450px;
  height: 450px;
}
.curriculum-button {
  width: 160px;
  height: 56px;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.555555555555556;
  letter-spacing: -0.05em;
  padding: 0;
}
.curriculum-button-m {
  width: 140px;
  height: 48px;
  border: 0;
  border-radius: 2px;
  font-weight: bold;
  margin-bottom: 48px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
}
@media screen and (min-width: 768px) {
  .section4 {
    padding-top: 80px;
  }
  .section4-des {
    padding-bottom: 72px;
  }
  .section4-des2 {
    padding-top: 24px;
  }
}
