* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
  /* 24 / 16 = 1.5 */
  color: #2b292d;
  letter-spacing: -0.01em;
}
span {
  display: inline-block;
}

/* landing */
.landing {
  background-color: #fdded8;
}

.landing-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-content h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
}

.landing-content p {
  line-height: 1.375;
  text-align: center;
  margin-bottom: 24px;
}

.button-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fill-btn {
  display: inline-block;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.fill-btn:hover {
  opacity: 0.5;
}

.fill-btn.inverted {
  background-color: #fff;
  color: #3040c4;
}

.fill-btn:first-child {
  margin-right: 8px;
}

.service {
  padding: 80px 0;
  background-color: #f4f5f7;
}

.service-title {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.363636;
  letter-spacing: -0.04em;
}

.service-desc {
  line-height: 1.6;
}

.service .col-12:first-child .service-desc {
  margin-bottom: 40px;
}

/* Program */
.program .article-category {
  color: #009b4d;
}

.program .col-md-4 {
  margin-bottom: 20px;
}

.program .col-md-4:last-child {
  margin-bottom: 0px;
}

.program-card {
  display: block;
  padding: 24px 0 32px 0;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-align: center;
  background-color: #fff;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.program-card:last-child {
  margin-bottom: 0;
}
.program-card img {
  margin: 0 auto 16px;
  display: block;
  width: auto;
  height: 195px;
}
.program-card strong {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333;
  letter-spacing: -0.02em;
  transition: color 300ms ease-in-out;
}

.program-card:hover {
  cursor: pointer;
  background-color: #3141c5;
  color: #fff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card:hover strong {
  color: #fff;
}

/* Curriculum */
.curriculum .article-category {
  color: #0189d1;
}

.curriculum .col-md-6:nth-child(2) {
  display: none;
}

.curriculum .col-12:first-child a {
  display: block;
  margin-bottom: 48px;
  padding-top: 12px;
  width: 140px;
  height: 48px;
  background-color: #3141c5;
  border-radius: 2px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.curriculum .col-12:first-child a:hover {
  opacity: 0.5;
}
.curriculum .col-12 p {
  margin-bottom: 32px;
}

.curriculum .col-12:last-child p {
  margin-bottom: 0;
}

.curriculum-desc {
  font-size: 15px;
  line-height: 1.466666667;
}
