* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
  /* 24 / 16 = 1.5 */
  color: #2b292d;
  letter-spacing: -0.01em;
}
span {
  display: inline-block;
}

/* landing */
.landing {
  background-color: #fdded8;
}

.landing-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-content h1 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
}

.landing-content p {
  line-height: 1.375;
  text-align: center;
  margin-bottom: 24px;
}

.button-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fill-btn {
  display: inline-block;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.fill-btn:hover {
  opacity: 0.5;
}

.fill-btn.inverted {
  background-color: #fff;
  color: #3040c4;
}

.fill-btn:first-child {
  margin-right: 8px;
}
